.gallery {
  background-color: black;
  height: 2200px;

  @media (max-width: 1919px) {
    height: 1460px;
  }
  @media (max-width: 1023px) {
    height: 1220px;
  }
  @media (max-width: 767px) {
    height: 757px;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 75px;

    @media (max-width: 1919px) {
      gap: 60px;
    }
    @media (max-width: 1023px) {
      gap: 40px;
    }
  }

  .gallery__list {
    background-color: aqua;
  }
}
