@import '../../../variables.module.scss';

.button {
  color: #fff;
  font-family: $main-font-family;
  font-style: normal;
  line-height: normal;
  color: $white-color;
  text-align: center;
  letter-spacing: 2px;

  &:hover {
    background-color: $gold-color;
  }

  &.main {
    padding: 24px 64px;
    border-radius: 10px;
    background-color: $red-color;
    font-size: 24px;
    font-weight: 400;

    @media (max-width: 1919px) {
      font-size: 20px;
      font-weight: 300;
    }
  }

  &.sub {
    padding: 13px 38px;
    border-radius: 2px;
    background-color: $black-color;
    font-size: 22px;
    font-weight: 300;

    @media (max-width: 767px) {
      font-size: 16px;
    }

    &:hover {
      color: $black-color;
    }
  }
}
