@import '../../../variables.module.scss';

.button {
  line-height: normal;
  color: $white-color;
  text-align: center;
  letter-spacing: 2px;
  border-style: none;
  cursor: pointer;
  white-space: nowrap;

  &.main {
    padding: 24px 64px;
    border-radius: 10px;
    background-color: $red-color;
    font-size: 24px;

    @media (max-width: 1919px) {
      font-size: 20px;
    }

    &:hover {
      background-color: $gold-color;
    }
  }

  &.sub {
    padding: 13px 38px;
    border-radius: 2px;
    background-color: $black-color;
    font-size: 22px;

    @media (max-width: 767px) {
      font-size: 16px;
    }

    &:hover {
      color: $black-color;
      background-color: $gold-color;
    }
  }

  &:disabled {
    background-color: $gray-color !important;
    cursor: none;
    pointer-events: none;
  }
}
