@import '../../../variables.module.scss';

.footer {
  background: $dark-color;
}

.container {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  padding: 85px 0 50px;
  gap: 145px;

  @media (max-width: 1919px) {
    gap: 45px;
    padding: 65px 20px 50px 20px;
  }

  @media (max-width: 1023px) {
    gap: 80px;
    padding: 40px 75px 40px 20px;
  }

  @media (max-width: 767px) {
    gap: 40px;
    flex-direction: column;
    padding: 40px 20px;
  }
}

.content {
  display: flex;
  align-items: flex-end;
  flex-wrap: nowrap;
  flex-grow: 2;
  gap: 400px;

  @media (max-width: 1919px) {
    gap: 90px;
  }

  @media (max-width: 1023px) {
    gap: 40px;
    flex-direction: column;
    align-items: center;
  }

  @media (max-width: 767px) {
    width: 100%;
  }
}
