@import '../../../variables.module.scss';

.journey__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 75px;
  padding: 75px 0;

  @media (max-width: 1919px) {
    padding: 60px 20px;
    gap: 40px;
  }

  @media (max-width: 1023px) {
    padding: 40px 20px;
    gap: 20px;
  }

  @media (max-width: 767px) {
    padding: 36px 20px 40px 20px;
  }
}

.journey__content {
  display: flex;
  align-items: center;
  width: 100%;

  @media (max-width: 1919px) {
    h2 {
      align-self: flex-start;
    }
  }
}

.journey__info {
  font-size: 22px;
  line-height: 38px;

  @media (max-width: 1919px) {
    display: none;
  }
}
