@import '../../../variables.module.scss';

.journey {
  padding: 75px 0;

  @media (max-width: 1919px) {
    padding: 60px 0;
  }

  @media (max-width: 1023px) {
    padding: 40px 0;
  }

  @media (max-width: 767px) {
    padding: 36px 0 40px 0;
  }
}

.container {
  display: flex;
  flex-direction: column;
  gap: 75px;

  @media (max-width: 1919px) {
    gap: 40px;
  }

  @media (max-width: 1023px) {
    gap: 20px;
  }
}

.content {
  display: flex;
  gap: 115px;
  align-items: center;

  p {
    font:
      normal 300 22px/38px 'Roboto',
      sans-serif;

    @media (max-width: 1919px) {
      display: none;
    }
  }
}
