@import '../../../variables.module.scss';

.nav-link {
  color: $white-color;
  font-size: 22px;
  font-weight: 100;
  line-height: 26px;
  letter-spacing: 2px;

  @media (max-width: 1919px) {
    font-size: 20px;
    line-height: 23px;
    font-weight: 300;
  }

  @media (max-width: 767px) {
    font-size: 16px;
    line-height: normal;
    font-weight: 100;
  }

  .light {
    color: $white-color;
  }

  .dark {
    color: $black-color;
  }

  &:hover {
    color: $gold-color;
  }

  &:active {
    color: $dark-gold-color;
  }
}
