@import '../../../variables.module.scss';

.socials__list {
  display: flex;
  gap: 25px;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;

  @media (max-width: 767px) {
    gap: 5px;
  }
}

.socials__link {
  width: 48px;
  height: 48px;
  border-radius: 100%;
  border: 1px solid $gray-color;
  color: $white-color;
  display: flex;
  justify-content: center;
  align-items: center;
}
