.map {
  width: 960px;
  height: 620px;
  grid-area: 2 / 2 / 3 / 3;
  position: relative;

  @media (max-width: 1919px) {
    width: 694px;
    height: 454px;
  }

  @media (max-width: 1023px) {
    width: 728px;
    height: 476px;
    grid-area: 3 / 1 / 4 / 2;
  }

  @media (max-width: 767px) {
    width: 380px;
    height: 248px;
  }

  @media (max-width: 419px) {
    width: 280px;
    height: 180px;
  }
}
