@import "../../../variables.module.scss";

.explore {
  background-color: $black-color;
}

.explore__container {
  padding: 75px 20px;
  display: flex;
  justify-content: space-between;
  gap: 60px;

  @media (max-width: 1919px) {
    padding: 50px 20px;
    flex-direction: column;
  }

  @media (max-width: 1023px) {
    padding: 40px 20px;
    gap: 40px;
  }
}

.explore__content {
  display: flex;
  flex-direction: column;
  gap: 75px;

  @media (max-width: 1919px) {
    gap: 60px;
  }
}

.explore__info {
  color: white;
  display: flex;
  flex-direction: column;
  gap: 25px;
  font-size: 22px;
  line-height: 38px;

  @media (max-width: 1919px) {
    gap: 0;
    font-size: 20px;
  }

  @media (max-width: 1023px) {
    display: none;
  }
}

.explore__info_emphasis {
  color: $gold-color;
}
