@import '../../../../../variables.module.scss';

.welcome__content_burger {
  display: none;

  @media (max-width: 1919px) {
    display: flex;
    height: 585px;
    width: 100%;
    background-color: transparent;
    position: absolute;
    bottom: 0;
    z-index: 8888;

    flex-direction: column;
    justify-content: space-between;
    padding: 35px 35px;
    gap: 30px;
    left: -100%;
    opacity: 0;

    &.open {
      @keyframes moving-right {
        from {
          left: -100%;
          opacity: 0;
        }

        to {
          left: 0;
          opacity: 1;
        }
      }

      animation-name: moving-right;
      animation-duration: 1s;
      animation-fill-mode: forwards;
    }

    @keyframes moving-left {
      from {
        left: 0;
        opacity: 1;
      }

      to {
        left: -100%;
        opacity: 0;
      }
    }

    animation-name: moving-left;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }

  @media (max-width: 1023px) {
    height: 861px;
    background-color: black;
  }

  @media (max-width: 767px) {
    height: 544px;
    padding: 35px 35px 25px 35px;
  }
}

.burger__navigation {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 24px;

  .burger__link {
    color: #fff;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 2px;
    display: flex;
    width: 125px;
    justify-content: space-between;
    align-items: center;
  }
}

.welcome__socials {
  display: none;
  @media (max-width: 1023px) {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.burger__images {
  display: none;

  @media (max-width: 1023px) {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }

  &::after {
    content: ' ';
    display: block;
    height: 1px;
    width: 100%;
    background-color: $gray-color;
    margin-top: 30px;

    @media (max-width: 767px) {
      margin-top: 20px;
    }
  }

  .image-container {
    position: relative;
    flex-shrink: 0;

    &.image-container_first {
      width: 658px;
      height: 194px;
    }

    &.image-container_second,
    &.image-container_third {
      width: 319px;
      height: 161px;
    }

    @media (max-width: 767px) {
      &.image-container_first,
      &.image-container_second,
      &.image-container_third {
        width: 95px;
        height: 95px;
      }
    }
  }

  @media (max-width: 767px) {
    gap: 12.5px;
    flex-wrap: nowrap;
  }
}
