@import "../../../variables.module.scss";

.welcome {
  background-color: black;
}

.welcome__container {
  position: relative;

  @media (max-width: 1920px) {
    padding: 0 20px;
  }
}

.welcome__content {
  height: 842px;
  display: flex;
  align-items: center;
  position: relative;

  @media (max-width: 1919px) {
    height: 585px;
  }

  @media (max-width: 1023px) {
    height: 861px;
    flex-direction: column;
    gap: 50px;
  }

  @media (max-width: 767px) {
    height: 544px;
  }

  @media (max-width: 419px) {
    height: 480px;
  }
}
