@import '../../../variables.module.scss';

.welcome {
  background-color: black;
}

.container {
  position: relative;
}

.welcome__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 0;

  @media (max-width: 1919px) {
    padding: 50px 0;
  }

  @media (max-width: 1023px) {
    padding: 35px 0;
  }

  .header__navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 55px;

    .header__link {
      color: #fff;
      font-family: Roboto;
      font-size: 22px;
      font-style: normal;
      font-weight: 100;
      line-height: normal;
      letter-spacing: 2px;
    }

    @media (max-width: 1919px) {
      display: none;
    }
  }

  .header__burger {
    display: none;

    @media (max-width: 1919px) {
      display: block;
      width: 32px;
      height: 20px;
      cursor: pointer;
      background: linear-gradient(
        to bottom,
        white 10%,
        black 10% 45%,
        white 45% 55%,
        black 55% 90%,
        white 90%
      );
    }
  }
}

.welcome__content {
  height: 842px;
  display: flex;
  align-items: center;
  position: relative;

  @media (max-width: 1919px) {
    height: 585px;
  }

  @media (max-width: 1023px) {
    height: 861px;
    flex-direction: column;
    gap: 50px;
  }

  @media (max-width: 767px) {
    height: 544px;
  }
}

.welcome__greeting {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 15;

  @media (max-width: 1919px) {
    text-align: left;
  }

  @media (max-width: 1023px) {
    text-align: center;
  }

  .welcome__addition {
    font:
      normal 300 28px/33px 'Roboto',
      sans-serif;
    letter-spacing: 2px;
    margin: 25px 0 75px;
    color: white;

    @media (max-width: 1919px) {
      font:
        normal 300 24px/28px 'Roboto',
        sans-serif;
      margin: 25px 0 50px;
    }

    @media (max-width: 1023px) {
      font:
        normal 300 20px/23px 'Roboto',
        sans-serif;

      margin: 25px 0 0;
    }

    @media (max-width: 767px) {
      font:
        normal 300 16px/19px 'Roboto',
        sans-serif;
    }
  }

  .welcome__button_main {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font:
      normal 300 22px/26px 'Roboto',
      sans-serif;
    letter-spacing: 2px;
    width: 360px;
    height: 75px;
    background-color: $red-color;
    border-radius: 10px;

    &:hover {
      background-color: $gold-color;
    }

    @media (max-width: 1919px) {
      font:
        normal 300 20px/23px 'Roboto',
        sans-serif;
      width: 300px;
      height: 60px;
    }

    @media (max-width: 1023px) {
      display: none;
    }
  }
}
