@import '../../../variables.module.scss';

.welcome {
  background-color: black;
}

.container {
  position: relative;
}

.welcome__content {
  height: 842px;
  display: flex;
  align-items: center;
  position: relative;

  @media (max-width: 1919px) {
    height: 585px;
  }

  @media (max-width: 1023px) {
    height: 861px;
    flex-direction: column;
    gap: 50px;
  }

  @media (max-width: 767px) {
    height: 544px;
  }
}
