.navigation {
  &.in-footer {
    display: flex;
    flex-wrap: wrap;
    column-gap: 150px;
    row-gap: 25px;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 128px;
    width: 100%;

    @media (max-width: 1919px) {
      column-gap: 100px;
    }

    @media (max-width: 1023px) {
      column-gap: 185px;
    }

    @media (max-width: 767px) {
      height: 68px;
      column-gap: 75px;
      row-gap: 30px;
    }
  }
}
