@import '../../../../../variables.module.scss';

.welcome__slider {
  width: 1000px;
  height: 810px;
  position: relative;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 14;

  @media (max-width: 1919px) {
    width: 700px;
    height: 585px;
  }

  @media (max-width: 1023px) {
    width: 728px;
    height: 646px;
    position: static;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @media (max-width: 767px) {
    width: 380px;
    height: 365px;
  }
}

.slider__controls {
  width: 600px;
  height: 120px;
  background-color: black;
  color: #ffffff;

  font:
    normal 400 22px/40px 'Roboto',
    sans-serif;

  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;

  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 5555;

  gap: 55px;

  @media (max-width: 1919px) {
    gap: 45px;
    width: 100%;

    font:
      normal 400 20px/40px 'Roboto',
      sans-serif;
  }

  @media (max-width: 1023px) {
    position: relative;
    height: 100px;
    width: 400px;
  }

  @media (max-width: 767px) {
    height: 78px;
    width: 230px;
    gap: 25px;

    font:
      normal 400 16px/40px 'Roboto',
      sans-serif;
  }

  .slider__paginator {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

    @media (max-width: 1919px) {
      gap: 25px;
    }

    @media (max-width: 767px) {
      gap: 7px;
    }

    li {
      width: 16px;
      height: 16px;
      background-color: $gray-color;
      cursor: pointer;

      &:hover {
        background-color: $gold-color;
      }

      @media (max-width: 1919px) {
        width: 12px;
        height: 12px;
      }

      @media (max-width: 767px) {
        width: 7px;
        height: 7px;
      }
    }
  }

  .slider__arrows {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;

    button {
      width: 35px;
      height: 16px;
      position: relative;
    }

    @media (max-width: 767px) {
      gap: 15px;

      button {
        width: 20px;
        height: 8px;
      }
    }
  }
}

.slider__content {
  height: 750px;
  width: 1000px;
  position: relative;

  &::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background: linear-gradient(to left, transparent 60%, black);
    z-index: 5555;
    top: 0;
    right: 0;
  }

  @media (max-width: 1919px) {
    height: 525px;
    width: 700px;
  }

  @media (max-width: 1023px) {
    height: 546px;
    width: 728px;

    &::after {
      display: none;
    }
  }

  @media (max-width: 767px) {
    height: 285px;
    width: 380px;
  }
}
